/montecarlo-dla/.idea/*
/montecarlo-dla/images/*
/montecarlo-dla/out/*
/montecarlo-dla/run-info/*
/montecarlo-dla/module_montecarlo-dla.xml
/montecarlo-dla/montecarlo-dla.iml
/montecarlo-dla/montecarlo-dla.properties
/montecarlo-dla.xml
